Source: base-passwd
Section: core
Priority: required
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Standards-Version: 3.8.0
Build-Depends:

Package: base-passwd
Architecture: all
Depends:
Description: IPlinux base system master password and group files
 These are the canonical master copies of the user database files
 (/etc/passwd and /etc/group), containing the IPlinux-allocated user and
 group IDs. The update-passwd tool is provided to keep the system databases
 synchronized with these master files.
