#! /usr/bin/make -f

# Debian package information
package		= base-passwd
tmpdir		= $(shell pwd)/debian/tmp

# Other stuff
SHELL		= /bin/bash

.PHONY: all build
all build:

.PHONY: clean
clean:
	rm -rf debian/tmp debian/files debian/substvars

.PHONY: binary
binary: binary-arch binary-indep

.PHONY: binary-arch
binary-arch:
	@echo Nothing to do

.PHONY: binary-indep
binary-indep: build
	test "`id -u`" -eq 0
	-rm -rf debian/tmp debian/files debian/substvars

	mkdir -p debian/tmp/usr/share/base-passwd
	install -p -m 644 -o root -g root passwd.master \
		debian/tmp/usr/share/base-passwd/
	install -p -m 644 -o root -g root group.master \
		debian/tmp/usr/share/base-passwd/

	install -d -m 755 -o root -g root debian/tmp/DEBIAN
	install -p -m 755 -o root -g root debian/postinst debian/tmp/DEBIAN/

	dpkg-gencontrol -isp
	(cd debian/tmp && \
		find . -name DEBIAN -prune -o -type f -printf '%P\0' | \
		xargs -r0 md5sum) > debian/tmp/DEBIAN/md5sums
	chown root:root debian/tmp/DEBIAN/md5sums
	chmod 644 debian/tmp/DEBIAN/md5sums
	dpkg --build debian/tmp ..

